  body{
    background-image: url('../images/ShoppingBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    background-color: #0d1430;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    color: #eee;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin: 3px;
    transition: 0.2s ease-in-out;
}

button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
    background: #6ad6a5;
    color: #0d1430;
}

button:disabled {
    cursor: auto;
    color: grey;
}
