@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

body {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: "Arimo", sans-serif;
}

/*==============Colors=============*/

:root {
    --primary: #fff;
    --secondary: #222;
    --tertiary: #e0e0e0;
    --blue: rgb(50, 130, 184);
    --red: rgb(246, 28, 1);
    --green: rgb(1, 246, 21);
    --disabled: #b8b8b8;
    --dark-alpha: rgba(0, 0, 0, 0.199);
    --darker-alpha: rgba(0, 0, 0, 0.299);
    --darkest-alpha: rgba(0, 0, 0, 0.599);
}

.admin-page {
    position: absolute;
    width: calc(100% - 270px);
    left: 270px;
    min-height: 100vh;
    transition: 0.5s;
}

.admin-page.active {
    left: 80px;
    width: calc(100% - 80px);
}

.bg-dark-alpha {
    background-color: var(--dark-alpha);
}

.fas-icon {
    width: 30px;
    margin: 5px;
}

.card-responsive {
    min-width: 200px;
}

.paginator{
    max-width: 500px;
}

.cashier-panel {
    position: relative;
    height: fit-content;
    width: auto;
    background-color: var(--primary);
}

.cashier-panel .order-list {
    padding: 5px 5px 0 5px;
    position: relative;
    margin: 10px auto;
    width: 350px;
    height: 350px;
    background-color: var(--tertiary);
    border-radius: 10px;
    overflow-x: auto;
}

.product-list ul,
.cashier-panel .order-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cashier-panel .order-list ul li {
    background-color: var(--primary);
    height: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
}

.cashier-panel .order-list ul li img {
    object-fit: contain;
    border-radius: 10px;
    width: 35px;
}
.cashier-panel .order-list ul li .product-details h1 {
    font-size: 1rem;
    margin: 0;
}

.cashier-panel .order-list ul li .product-details h2 {
    font-size: 1rem;
}

.cashier-panel .order-list ul li p {
    font-size: 1rem;
}

.cashier-panel .calculator input{
    margin-right: 30px;
    margin-bottom: 3px;
    border: none;
    background-color: black;
    text-align: center;
    font-size: 2rem;
}

.cashier-panel .calculator label {
    font-size: 1rem;
}

.text-green {
    color: var(--green);
}

.modal-body img{
    height: 250px;
    width: 250px;
}

.modal-body input:disabled{
    border: none;
    background: none;
}
.modal-body select:disabled{
    border: none;
    background: none;
}

.modal-lg{
    min-width: 300px;
}

.modal-content{
    overflow-x: auto;
}

.img-display{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .admin-page {
        left: 0;
        width: 100%;
    }

    .admin-page.active {
        left: 0;
        width: 100%;
    }
}
