@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

body {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: "Arimo", sans-serif;
}

/*==============Colors=============*/

:root{
    --primary: #fff;
    --secondary: #222;
    --blue: rgb(50, 130, 184);
    --red: rgb(246, 28, 1);
    --green: rgb(1, 246, 21);
    --disabled: #b8b8b8;
    --dark-alpha: rgba(0, 0, 0, 0.199);
    --darker-alpha: rgba(0, 0, 0, 0.299);
    --darkest-alpha: rgba(0, 0, 0, 0.599);
}

.main{
    position: absolute;
    width: calc(100% - 270px);
    left: 270px;
    min-height: 100vh;
    transition: 0.5s;
}

.main.active{
    left: 80px;
    width: calc(100% - 80px);
}

.bg-dark-alpha {
    background-color: var(--dark-alpha);
}

.fas-icon {
    width: 30px;
    margin: 5px;
}

.card-responsive {
    min-width: 200px;
}

.input-search{
    border: none;
    border-bottom: 1px solid var(--disabled);
}

.input-search:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--disabled);
}

.actions{
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .main{
        left: 0;
        width: 100%;
    }

    .main.active{
        left: 0;
        width: 100%;
    }
}