.topbar{
    background-color: var(--darker-alpha);
    color: var(--primary);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 0 20px;
}

.topbar .toggle{
    z-index: 10;
}

.topbar .topbar-header{
    display: flex;
    align-items: center;
}

.topbar .topbar-logo{
    width: 40px;
    margin-right: 20px;
}

.topbar .user{
    display: flex;
    align-items: center;
}

.topbar .user .user-img{
    width: 30px;
    border-radius: 100%;
}

.topbar .user .fullname{
    font-size: 1.2rem;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .fullname{
        visibility: hidden;
    }

    .topbar .topbar-header{
        visibility: hidden;
    }    
}